$bgc: #2a005b; //顏色
$fontcolor : rgb(255, 255, 255);

$color-map :(
  'primary': #222,
  'secondary': #a5a5a5,
  'success': #00dd12,
  'danger': #900000,
  'warning': #e9ff20,
  'info': rgb(113, 175, 255),
);