// 宣告方式
@mixin font($size){
  font-size: $size;
  font-weight: 300;
}

@mixin marginTop($val){
  margin-top: $val;
  margin-bottom: $val *2;
  @include font(14px);
}

@mixin marginAuto(){
  margin: 0 auto;
}

// : 預設值
@mixin rect($w: 100px , $h: 100px, $bgc: #fff){
  width: $w;
  height: $h;
  background-color: $bgc;
}

@mixin rect_new($w , $h:$w){
  width: $w;
  height: $h;
}

@mixin btn($w , $padding , $r , $bgc:null){
  width: $w;
  padding: $padding 0;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
  background-color: $bgc;

  @if $r == true{
    border-radius: 5px;
  }

  &:hover{
    color: red;
    // background-color: darken($bgc , 20); //darken變暗
    background-color: lighten($bgc , 20); // lighten變亮
  }

}


@mixin textbox($class , $w){
  #{$class}{ // 不建議這樣用，麻煩
    text-align: center;
    @include rect_new($w*5 , $w);
    border: 1px solid #333;
    @content; // 若用$class寫法，想要再額外加新css(ex:font-size)就得加這個
  }
}

// grid
@mixin grid($col){
  @for $i from 1 through $col {
      .col-#{$i}{
        width: ( $i / $col ) * 100% ;
        @content;
      } 
  }
}

// 運用
@mixin push($num){
  @for $i from 1 through $num{
    .push-left-#{$i}{
      position: relative;
      left : $i * 1px;
    }
    .push-top-#{$i}{
      position: relative;
      left : $i * 1px;
    }
    .push-bottom-#{$i}{
      position: relative;
      left : $i * 1px;
    }
    .push-right-#{$i}{
      position: relative;
      left : $i * 1px;
    }
  }

}

@mixin pushall($num , $dir){
  @for $i from 1 through $num{
    .push-#{$dir}-#{$i}{
      position: relative;
      #{$dir} : $i * 1px;
      @content;
    }
  }
};

@mixin margin($num, $dir){
  @for $i from 1 through $num {
    .margin-#{$dir}-#{$i} {
      margin-#{$dir}: $i * 1px;
      @content;
    }
  }
}

// $img : box a b c bg; // list
@mixin img($img , $style:jpg) { // :預設，未呼叫就用這個
  @each $a in $img{ // a 從 img 取得
    .#{$a}{
      background-image: url("./images/#{$a}.#{$style}");
      background-repeat: no-repeat;
      @content;
    }
  }
}

// @include layout(full滿版 , 高度 )  如果不是滿版的話 帶數值進去即可
@mixin layout($theme, $h) {
  @if $theme == full{
    width: 100vw;
    height: $h;
    display: block;
    position: relative;
  }@else{
    width: $theme;
    height: $h;
    @include marginAuto();
  }
}

// 樣板的色塊 @include theme(true or false) true 會反轉顏色（字體顏色 背景色）
@mixin theme($light-theme: true , $bgcolor:null){
  @if $light-theme {
    background-color: lighten($bgc , 100);
    color: darken($fontcolor , 100);
  }@else{
    background-color: $bgcolor;
  }
}


// 使用h1 ~ h5字體大小 @include
@mixin title_module($title_h) {
  @each $k , $v in $title_h{
    #{$k}{
      font-size: $v;
      @content;
    }
  }
}


// color map @include colormap(顏色map 對應) ()
@mixin colormap($color-map , $bgc:#000) {
  @each $k , $v in $color-map{
    .text-#{$k} {
      color : $v;
      background-color: $bgc;
      padding: 10px 40px;
      transition: .2s all ease-in-out;
      cursor: pointer;

      &:hover{
        background-color: lighten(#000, 20);
      }
    }
  }
}




@mixin mobile() {
  @media all and (max-width : $mobile){
    @content;
  }
};

@mixin tablet() {
  @media all and (min-width : $mobile + 1px) and (max-width: $tablet){
    @content;
  }
};

@mixin desktop() {
  @media all and (min-width : $desktop + 1px){
    @content;
  }
};